form.cats-form{
    .form-item-cat-name,
    .form-item-email{
        input{
            width: 320px;
            margin: 20px auto 0;
        }
        margin-bottom: 0;
    }
    #edit-actions.form-actions{
        margin-top: 0;
    }
    .email-validation-message{
        font-size: 14px;
        color: red;
        font-weight: bold;
    }
}
